{% extends 'base.html.twig' %}

{% block body %}
    <h2>Ajouter une projection pour "{{ film.titre }}"</h2>

    {{ form_start(form) }}

    {{ form_row(form.date, {
        'label': 'Date de projection',
        'attr': {
            'class': 'form-control'
        }
    }) }}
    {{ form_end(form) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>

    <a href="{{ path('app_film_detail', {'id': film.id}) }}">Retour aux détails du film</a>
{% endblock %}